name: Publish to PyPI

on:
  push:
    tags:
      - "v*"

jobs:
  build-n-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v3
      - name: Build and Publish
        run: |
          uv build
          uv publish --token ${{ secrets.PYPI_API_TOKEN }}